*
{

    padding: 0;
    margin: 0;
    font-family: "Outfit", "century gothic", normal, Roboto, Arial, sans-serif;
    font-weight: lighter;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}

@keyframes slide {
    0% {
        transform: translateY(-100%);
    }
}


.header {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(40%);
    z-index: -1;
}

.body {
    position: absolute;
    background: linear-gradient(white, rgb(0, 153, 255));
    top:0px;
    width: 100%;
    height: fit-content;
    animation: slide 1s ease;

}


.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    border-radius: 24px;
    margin-left: 35px;
    margin-top: 12px;
    z-index: 3;
}

.logo:hover {
    box-shadow: 1px 1px 8px 3px rgb(255, 255, 255);
}


.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;
    margin-right: 35px;
    margin-top: 19px;
    border-radius: 2px;
    z-index: 3;
}

.menu:hover {
    background-color: rgba(190, 189, 189, 0.5);
}

.menu-bar {
    position: fixed;
    display:flex;
    top: 0;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.6);
    font-size: 18px;
    text-align: center;
    box-shadow: 2px 2px 10px black;
    z-index: 3;
}

.search-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family:arial;
    font-size: 18px;
    color: black;
    margin-top:12px;
    margin-left:90px;
    padding-left: 50px;
    height: 40px;
    width: 500px;
    border-radius: 25px;
    border-width: 0px;
    outline: none;
    z-index: 3;
}

.search-bar:hover {
    background-color: rgb(246, 244, 243);
}

.search-bar::placeholder {
    color:rgba(7, 159, 206, 0.8);
    font-family: Outfit;
    font-weight: 300;
    font-style: italic;
    margin-left: 0px;
}

.search-icon {
    width: 20px;
    border-radius: 25px;
    top: 0;
    left: 0;
    background-color: transparent;

}

.search {
    position: fixed;
    top: 0;
    margin-top: 15px;
    margin-left: 95px;
    padding-top: 2px;
    width: 35px;
    height: 34px;
    background-color: transparent;
    border-radius: 18px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    z-index: 3;
}

.search:hover {
    background-color: rgba(190, 189, 189, 0.5)
}

.voice {
    width: 32px;
    padding: 5px;
    border-radius: 25px;
    position: fixed;
    margin-left: 553px;
    top: 0;
    margin-top: 16.2px;
    z-index: 3;

}

.voice:hover { 
    background-color: rgba(190, 189, 189, 0.5)

}

.menu-bar ul {
    float: left;
    display: inline-flex;
    list-style: none;
    margin-left: 800px;
    height: 63px;
}

.menu-bar ul li { 
    width: 120px;
    height: auto;
    margin-top: 15px;
    padding: 5px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.menu-bar ul li a:hover {
    color:rgb(0, 229, 255);
    background-color: rgba(146, 146, 146, .5);
    padding: 5px;
    border-radius: 3px;
}

.menu-bar ul li .active {
    color:rgb(0, 229, 255);
    background-color: rgba(146, 146, 146, .5);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.gmail {
    width: 20px;
    border-radius: 5px;
}

.fb {
    width: 20px;
    border-radius: 5px;
}

.reminder {
    font-weight: 300;
    color: red;
    margin-left: 50px;
}

.sub-menu-1 ul {
    background-color: rgb(0, 153, 255);
    margin: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 2px 2px 8px black;
    font-weight:lighter;
    display: none;
}

.sub-menu-1 ul li{
    margin: 5px;
}

.sub-menu-1 ul li a{
    font-size: 14px;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    height: 90px;
    width: 210px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    text-align: left;
    color: black;
    width: fit-content;
    font-weight: 300;
}

.sub-menu-2 ul {
    background-color: rgb(0, 153, 255);
    margin: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 2px 2px 8px black;
    font-weight:lighter;
    display: none;

}

.sub-menu-2 ul li{
    margin: 5px;
}

.sub-menu-2 ul li a{
    font-size: 14px;
}

.menu-bar ul li:hover .sub-menu-2 {
    display: block;
    position: absolute;
}

.menu-bar ul li:hover .sub-menu-2 ul {
    display: block;
    height: 90px;
    width: 120px;
}

.menu-bar ul li:hover .sub-menu-2 ul li {
    text-align: left;
    color: black;
    width: 120px;
    font-weight: 300;
}

.menu-bar ul li:hover .sub-menu-2 ul li a {
    display: inline-flex;
    margin: 0;
    padding-top: 0;

}
 
.first {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 400px;
    justify-content: center;
}

.welcome-text {
    position: absolute;
    color: rgb(0, 243, 251);
    font-size: 40px;
    text-align: center;
    text-decoration: double;
    font-weight: 600;
    font-family: "outfit";
    animation: slide 1s ease;
    top: 320px;
    left: 400px;
    z-index: 1;
}

.welcome-text2 {
    position: absolute;
    color: rgb(0, 243, 251);
    font-size: 40px;
    text-align: center;
    text-decoration: double;
    font-weight: 600;
    font-family: "outfit";
    top: 150px;
    left: 0;
    right: 0;
    z-index: 1;
}


.ads {
    background-color: rgba(151, 148, 148, 0.3);
    height: 600px;
    width: 600px;
    border-radius: 4px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ads:hover {
    box-shadow: 2px 2px 11px;
}

.hi {
    color:white;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    cursor: pointer;

}

.about {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    height: fit-content;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    text-align: justify;
    justify-items : center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.about-me {
    color:white;
    font-size: 18px;
    font-weight: 300px;
    cursor: pointer;
    margin-top: 50px;
}

.cover {
    display: block;
    background: linear-gradient(rgb(0, 243, 251), transparent);
    height: 190px;
    margin-left: 50px;
    margin-right: 50px;
}

.profile {
    display: grid;
    position:absolute;
    justify-items: center;
    top: 110px;
    left: 0;
    right: 0;
    z-index: 2;
}

.jeo {
    width: 150px;
    border: solid rgb(7, 159, 206);
    left: 0;
    right: 0;
    border-width: 3px;
    border-radius: 75px;
    z-index: 1;

}

.nname {
    text-align:center;
    font-family: century gothic;
    font-weight: 600;
    color: rgb(41, 41, 41);
    margin-top: 20px;
}


.tutorial1 {
    display: block;
    width: 500px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 82, 223);
    text-align: center;
    font-size: 20px;
    font-family: agency fb;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    box-shadow: 5px 5px 10px black;
    z-index: 2;
    cursor: pointer;
}


.tutorial2 {
    display: block;
    width: 500px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 243, 251);
    text-align: center;
    font-size: 20px;
    font-family: agency fb;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    box-shadow: 5px 5px 10px black;
    z-index: 2;
    cursor: pointer;
}

.tutorial1:hover {
    background-color: rgb(206, 235, 255);
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(16, 82, 223);
    font-weight: bold;
}

.tutorial2:hover {
    background-color: rgb(206, 235, 255);
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 153, 255);
    font-weight: bold;
}

.csr {
    width: 500px;
    height: 50px;
    color: rgb(49, 49, 49);
    background-color: rgb(7, 159, 206);
    text-align: center;
    font-size: 20px;
    font-family: agency fb;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 200px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px;
    cursor:text;
}

.csr:hover {
    font-weight: bold;
}

input[type=radio]{
    display: none;  
}


.graphic {
    width: 500px;
    height: 50px;
    color: rgb(49, 49, 49);
    background-color: rgb(7, 159, 206);
    text-align: center;
    font-size: 20px;
    font-family: agency fb;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 200px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px;
    cursor:text;
}

.graphic:hover {
    font-weight: bold;
}

.victor {
    width: 200px;
    margin-top: 10px;
    margin-left: 200px;
    border-radius: 5px;
}

.accordion { 
    display: block;
    margin-top: 250px;
    margin-left:150px;
    width: fit-content;
    margin-bottom: 100px;
}

.accordion li{
    list-style: none;
    width: 600px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(7, 159, 206);
    font-size:large;
    border-radius: 5px;
    overflow: hidden;
    transform: slide 1s ease;
    box-shadow: 5px 5px 5px black;
}

.me {
    width: 200px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.accordion li label {
    display: flex;
    align-items: center ;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    cursor:pointer;
}

label::before {
    content:'+';
    margin-right: 10px;
    font-size: 23px;

}

.polo {
    width: 300px;
    border-radius: 5px;
    margin-left: 100px;
    
}

.jersey {
    width: 300px;
    border-radius: 5px;
    margin-left: 100px;
}
.info {
    font-size: 18px;
}

.accordion .content {
    color: white;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    font-weight: 400;
    transition: max-height, padding 0.8s;
}

.accordion input[type=radio]:checked + label + .content {
    max-height: fit-content;
    padding: 10px 10px 10px;
    overflow: hidden;

}

.accordion input[type=radio]:checked + label::before{
    content: '-';
}

.form {
    background: rgba(0, 243, 251, 0.6);
    font-family: outfit;
    font-size: 20px;
    color:white;
    display: flex;
    width: 500px;
    height: 350px;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;

  }
  
  .input1 {
    background: none;
    font-size: 18px;
    color:white;
    font-weight: 300;
    border: solid white;
    border-width: 1px;
    outline: none;
    padding: 10px;
    height: 40px;
    width: 300px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 20px;
  }

  .input1::placeholder {
    color: black;
}

  .input2 {
    background: none;
    font-size: 18px;
    color:white;
    font-weight: 300;
    border: solid white;
    border-width: 1px;
    outline: none;
    padding: 10px;
    height: 40px;
    width: 300px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 20px;
  }
  
  .input2::placeholder {
    color: black;
}

  .input3 {
    background: none;
    font-size: 18px;
    color:white;
    font-weight: 300;
    border: solid white;
    border-width: 1px;
    outline: none;
    padding: 10px;
    height: 40px;
    width: 300px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 20px;
  }
  
  .input3::placeholder {
    color: black;
}

  .input4 {
    background: none;
    font-size: 18px;
    color:white;
    font-weight: 300;
    border: solid white;
    border-width: 1px;
    outline: none;
    padding: 10px;
    height: 50px;
    width: 300px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 10px;
  }

  .input4::placeholder {
    color: black;
}

  .button {
    background: rgb(1, 32, 97);
    font-size: 18px;
    color: white;
    font-weight: 300;
    border:none;
    outline: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 100px;
    border: none;
    border-radius: 21px;
    box-shadow: 5px 5px 5px black;
  }
  
.input1::placeholder {
    color: black;
}

.third {
    margin-bottom: 500px;
}

.socmed {
    display: inline-flex;
    position: absolute;
    font-size: 20px;
    top: 580px;
    margin-left: 150px;
    height: fit-content;

}

.socmed p {
    color: white;
    display: inline-flex;
    font-family: "Outfit";
    font-weight: 500;
    margin-left: 50px;
}

.socmed2 {
    display: inline-flex;
    position: absolute;
    font-size: 20px;
    left: 50px;
    top: 850px;
    color: white;

}

p .fbimage {
    width: 30px;
    height: 30px;
} 

p .gimage {
    width: 30px;
    height: 30px;
} 


.footer1 {
    display: block;
    background-color: rgb(0, 153, 255);
    width: 100%;
    color: white;
}

.footer2 {
    display: block;
    background-color: rgb(0, 153, 255);
    width: 100%;
    color: white;
}

.footer3 {
    display: block;
    background-color: rgb(0, 153, 255);
    width: 100%;
    color: white;
}

.footer1 p {
    height: 30px;
    font-family: "Outfit";
    display: inline-flex;
    margin-left: 20px;
}

.footer2 p {
    height: 30px;
    font-family: "Outfit";
    display: inline-flex;
    margin-left: 20px;
}

.footer3 p {
    height: 30px;
    font-family: "Outfit";
    display: inline-flex;
    margin-left: 20px;
}

.fimage {
    width: 15px;
    height: 15px;
}

.date {
    position: absolute;
    padding: 3px;
    top: 0;
    left: 950px;
    top: 550px;
    width: 300px;
    height: 300px;
    background-color: rgb(0, 255, 13);
    display: block;
    align-items: center;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 11px;
    z-index:1;

}

.cal {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.top, .down {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.top {
    height: 100%;
    background-color: rgb(8, 255, 33);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.down {
    height: 100%;
    font-size: 40px;

}

.click {
    display: none;
    width: 30px;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 3;
    
}

.click:hover {
    background-color: rgba(190, 189, 189, 0.5)
}


.side-bar {
    display: none;
    flex-direction: column;
    width: 120px;
    height: 100%;
    margin-top: 63px;
    background-color: rgba(129, 127, 127, 0.5);
    color: white;
    padding: 5px;
    position: fixed;
    right: -120px;
    z-index: 2;
    transition: right 0.5s ease-in-out;
  }

  .side-bar ul {
    text-align: center;
  }

  .side-bar ul li {
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(0, 94, 255);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
  }

  .side-bar ul li:hover {
    box-shadow: 1px 1px 12px rgb(0, 0, 0);
    background-color: rgb(1, 67, 180);

}

  .side-bar ul li a {
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;

  }

  .side-bar ul li .active {
    background: none;
  }








@media screen and (max-width:600px) {
    *
    {
    
        padding: 0;
        margin: 0;
        font-family: "Outfit", "century gothic", normal;
        font-weight: lighter;
        box-sizing:border-box;
        text-decoration: none;
        list-style: none;
    }
    
    @keyframes slide {
        0% {
            transform: translateY(-100%);
        }
    }
    
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        filter: brightness(40%);
        z-index: -1;
    }
    
    .body {
        position: absolute;
        background: linear-gradient(white, rgb(0, 153, 255));
        top:0px;
        width: 100%;
        height: fit-content;
        animation: slide 1s ease;
    
    }
    
    
    .logo {
        position: fixed;
        top: 0;
        left: 0;
        width: 40px;
        border-radius: 24px;
        margin-left: 15px;
        margin-top: 12px;
        z-index: 3;
    }
    
    .logo:hover {
        box-shadow: 1px 1px 8px 3px rgb(255, 255, 255);
    }
    
    
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 25px;
        margin-right: 35px;
        margin-top: 19px;
        border-radius: 2px;
        z-index: 3;
    }
    
    .menu:hover {
        background-color: rgba(190, 189, 189, 0.5);
    }
    
    .menu-bar {
        position: fixed;
        display:flex;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(44, 44, 44, 0.6);
        font-size: 18px;
        text-align: center;
        box-shadow: 2px 2px 10px black;
        z-index: 3;
    }
    
    .search-bar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        font-family:arial;
        font-size: 12px;
        color: black;
        margin-top:12px;
        margin-left: 65px;
        padding-left: 30px;
        height: 40px;
        width: 150px;
        border-radius: 25px;
        border-width: 0px;
        outline: none;
        z-index: 3;
    }
    
    .search-bar:hover {
        background-color: rgb(246, 244, 243);
    }
    
    .search-bar::placeholder {
        color:rgba(7, 159, 206, 0.8);
        font-family: Outfit;
        font-weight: 300;
        font-style: italic;
        margin-left: 0px;
    }
    
    .search-icon {
        width: 20px;
        border-radius: 25px;
        top: 0;
        left: 0;
        background-color: transparent;
    
    }
    
    .search {
        position: fixed;
        top: 0;
        margin-top: 15px;
        margin-left: 68px;
        padding-top: 2px;
        width: 35px;
        height: 34px;
        background-color: transparent;
        border-radius: 18px;
        outline: none;
        border: none;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        z-index: 3;
    }
    
    .search:hover {
        background-color: rgba(190, 189, 189, 0.5)
    }
    
    .voice {
        width: 32px;
        padding: 5px;
        border-radius: 25px;
        position: fixed;
        margin-left: 220px;
        top: 0;
        margin-top: 16.2px;
        z-index: 3;
    
    }
    
    .voice:hover { 
        background-color: rgba(190, 189, 189, 0.5)
    
    }
    
    .menu-bar ul {
        float: left;
        display: inline-flex;
        list-style: none;
        margin-left: 800px;
        height: 63px;
    }
    
    .menu-bar ul li { 
        display: none;
        width: 0px;
        height: auto;
        margin-top: 15px;
        padding: 5px;
    }
    
    .menu-bar ul li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 200;
    }
    
    .menu-bar ul li a:hover {
        color:rgb(0, 229, 255);
        background-color: rgba(146, 146, 146, .5);
        padding: 5px;
        border-radius: 3px;
    }
    
    .menu-bar ul li .active {
        color:rgb(0, 229, 255);
        background-color: rgba(146, 146, 146, .5);
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
    }
    
    .gmail {
        width: 20px;
        border-radius: 5px;
    }
    
    .fb {
        width: 20px;
        border-radius: 5px;
    }
    
    .reminder {
        font-weight: 300;
        color: red;
        margin-left: 50px;
    }
    
    .sub-menu-1 ul {
        background-color: rgb(0, 153, 255);
        margin: 20px;
        box-sizing: border-box;
        border-radius: 2px;
        box-shadow: 2px 2px 8px black;
        font-weight:lighter;
        display: none;
    }
    
    .sub-menu-1 ul li{
        margin: 5px;
    }
    
    .sub-menu-1 ul li a{
        font-size: 14px;
    }
    
    .menu-bar ul li:hover .sub-menu-1 {
        display: block;
        position: absolute;
    }
    
    .menu-bar ul li:hover .sub-menu-1 ul {
        display: block;
        height: 90px;
        width: 210px;
    }
    
    .menu-bar ul li:hover .sub-menu-1 ul li {
        text-align: left;
        color: black;
        width: fit-content;
        font-weight: 300;
    }
    
    .sub-menu-2 ul {
        background-color: rgb(0, 153, 255);
        margin: 20px;
        box-sizing: border-box;
        border-radius: 2px;
        box-shadow: 2px 2px 8px black;
        font-weight:lighter;
        display: none;
    
    }
    
    .sub-menu-2 ul li{
        margin: 5px;
    }
    
    .sub-menu-2 ul li a{
        font-size: 14px;
    }
    
    .menu-bar ul li:hover .sub-menu-2 {
        display: block;
        position: absolute;
    }
    
    .menu-bar ul li:hover .sub-menu-2 ul {
        display: block;
        height: 90px;
        width: 120px;
    }
    
    .menu-bar ul li:hover .sub-menu-2 ul li {
        text-align: left;
        color: black;
        width: 120px;
        font-weight: 300;
    }
    
    .menu-bar ul li:hover .sub-menu-2 ul li a {
        display: inline-flex;
        margin: 0;
        padding-top: 0;
    
    }
    
    .first {
        display: flex;
        position: absolute;
        top: 390px;
        justify-content: center;
    }
    
    .welcome-text {
        display: grid;
        justify-items: center;
        left: 0;
        right: 0;
        position: absolute;
        color: rgb(0, 243, 251);
        font-size: 30px;
        text-align: center;
        text-decoration: double;
        font-weight: 600;
        font-family: "outfit";
        animation: slide 1s ease;
        top: 170px;
        z-index: 1;
    }
    
    .welcome-text2 {
        position: absolute;
        color: rgb(0, 243, 251);
        font-size: 30px;
        text-align: center;
        text-decoration: double;
        font-weight: 600;
        font-family: "outfit";
        top: 100px;
        left: 0;
        z-index: 1;
    }
    
    
    .ads {
        background-color: rgba(151, 148, 148, 0.3);
        height: 600px;
        width: 600px;
        border-radius: 4px;
        margin-left: 40px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .ads:hover {
        box-shadow: 2px 2px 11px;
    }
    
    .hi {
        color:white;
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
        cursor: pointer;
    
    }
    
    .about {
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        height: fit-content;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
        margin-bottom: 100px;
        text-align: justify;
        justify-items : center;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .about-me {
        color:white;
        font-size: 18px;
        font-weight: 300px;
        cursor: pointer;
        margin-top: 50px;
    }
    
    .cover {
        display: block;
        background: linear-gradient(rgb(0, 243, 251), transparent);
        height: 190px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .profile {
        display: grid;
        position:absolute;
        justify-items: center;
        top: 140px;
        left: 0;
        right: 0;
        z-index: 2;
    }
    
    .jeo {
        width: 100px;
        border: solid rgb(7, 159, 206);
        left: 0;
        right: 0;
        border-width: 3px;
        border-radius: 75px;
        z-index: 1;
    
    }
    
    .nname {
        text-align:center;
        font-family: century gothic;
        font-weight: 600;
        color: rgb(41, 41, 41);
        margin-top: 20px;
    }
    
    
    .tutorial1 {
        display: block;
        width: 120px;
        height: 50px;
        color: rgb(255, 255, 255);
        background-color: rgb(16, 82, 223);
        text-align: center;
        font-size: 20px;
        font-family: agency fb;
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin: 10px;
        box-shadow: 2px 2px 10px black;
        z-index: 2;
        cursor: pointer;
    }
    
    
    .tutorial2 {
        display: block;
        width: 120px;
        height: 50px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 243, 251);
        text-align: center;
        font-size: 20px;
        font-family: agency fb;
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin-left: 10px;
        box-shadow: 2px 2px 10px black;
        z-index: 2;
        cursor: pointer;
    }
    
    .tutorial1:hover {
        background-color: rgb(206, 235, 255);
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(16, 82, 223);
        font-weight: bold;
    }
    
    .tutorial2:hover {
        background-color: rgb(206, 235, 255);
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(0, 153, 255);
        font-weight: bold;
    }
    
    .csr {
        width: 500px;
        height: 50px;
        color: rgb(49, 49, 49);
        background-color: rgb(7, 159, 206);
        text-align: center;
        font-size: 20px;
        font-family: agency fb;
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin-left: 200px;
        margin-top: 10px;
        box-shadow: 5px 5px 10px;
        cursor:text;
    }
    
    .csr:hover {
        font-weight: bold;
    }
    
    input[type=radio]{
        display: none;  
    }
    
    
    .graphic {
        width: 500px;
        height: 50px;
        color: rgb(49, 49, 49);
        background-color: rgb(7, 159, 206);
        text-align: center;
        font-size: 20px;
        font-family: agency fb;
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin-left: 200px;
        margin-top: 10px;
        box-shadow: 5px 5px 10px;
        cursor:text;
    }
    
    .graphic:hover {
        font-weight: bold;
    }
    
    .victor {
        width: 200px;
        margin-top: 10px;
        margin-left: 200px;
        border-radius: 5px;
    }
    
    .accordion {
        position: relative;
        left: 0;
        right: 0;
        margin-top: 200px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 5px;
        margin-bottom: 100px;
    }
    
    .accordion li{
        list-style: none;
        left: 0;
        right: 0;
        width: 100%;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 10px;
        padding: 10px;
        background-color: rgb(7, 159, 206);
        font-size:large;
        border-radius: 5px;
        overflow: hidden;
        transform: slide 1s ease;
        box-shadow: 5px 5px 5px black;
    }
    
    .me {
        width: 200px;
        margin-left: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
    }
    
    .accordion li label {
        display: flex;
        align-items: center ;
        padding: 5px;
        color: white;
        font-size: 20px;
        font-weight: 400;
        overflow: hidden;
        cursor:pointer;
    }
    
    label::before {
        content:'+';
        margin-right: 10px;
        font-size: 23px;
    
    }
    
    
    .polo {
        width: 100%;
        border-radius: 5px;
        margin-left: 5px;
        
    }
    
    .jersey {
        width: 100%;
        border-radius: 5px;
        margin-left: 5px;
    }
    .info {
        font-size: 18px;
    }
    
    .accordion .content {
        color: white;
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        font-weight: 400;
        transition: max-height, padding 0.8s;
    }
    
    .accordion input[type=radio]:checked + label + .content {
        max-height: fit-content;
        padding: 10px 10px 10px;
        overflow: hidden;
    
    }
    
    .accordion input[type=radio]:checked + label::before{
        content: '-';
    }
    
    .form {
        background: rgba(0, 243, 251, 0.6);
        font-family: outfit;
        font-size: 20px;
        color:white;
        display: flex;
        width: 500px;
        height: 350px;
        align-items: center;
        margin-left: 30px;
        margin-top: 20px;
        border-radius: 10px;
        align-items: center;
    
      }
      
      .input1 {
        background: none;
        font-size: 18px;
        color:white;
        font-weight: 300;
        border: solid white;
        border-width: 1px;
        outline: none;
        padding: 10px;
        height: 40px;
        width: 300px;
        margin-top: 20px;
        margin-left: 100px;
        border-radius: 20px;
      }
    
      .input1::placeholder {
        color: black;
    }
    
      .input2 {
        background: none;
        font-size: 18px;
        color:white;
        font-weight: 300;
        border: solid white;
        border-width: 1px;
        outline: none;
        padding: 10px;
        height: 40px;
        width: 300px;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 100px;
        border-radius: 20px;
      }
      
      .input2::placeholder {
        color: black;
    }
    
      .input3 {
        background: none;
        font-size: 18px;
        color:white;
        font-weight: 300;
        border: solid white;
        border-width: 1px;
        outline: none;
        padding: 10px;
        height: 40px;
        width: 300px;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 100px;
        border-radius: 20px;
      }
      
      .input3::placeholder {
        color: black;
    }
    
      .input4 {
        background: none;
        font-size: 18px;
        color:white;
        font-weight: 300;
        border: solid white;
        border-width: 1px;
        outline: none;
        padding: 10px;
        height: 50px;
        width: 300px;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 100px;
        border-radius: 10px;
      }
    
      .input4::placeholder {
        color: black;
    }
    
      .button {
        background: rgb(1, 32, 97);
        font-size: 18px;
        color: white;
        font-weight: 300;
        border:none;
        outline: none;
        height: 40px;
        width: 100px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 100px;
        border: none;
        border-radius: 21px;
        box-shadow: 5px 5px 5px black;
      }
      
    .input1::placeholder {
        color: black;
    }
    
    .third {
        margin-bottom: 500px;
    }
    
    .socmed {
        display: grid;
        left: 0;
        right: 0;
        justify-items: left;
        position: absolute;
        font-size: 12px;
        top: 460px; 
        margin-left: 0px;
        height: fit-content;
    
    }
    
    .socmed p {
        color: white;
        display: inline-flex;
        font-family: "Outfit";
        font-weight: 400;
        font-size: 12px;
        margin-left: 20px;
    }
    
    .socmed2 {
        display: grid;
        justify-items: center;
        position: absolute;
        font-size: 12px;
        left: 0;
        right: 0;
        top: 820px;
        color: white;
    
    }
    
    p .fbimage {
        width: 15px;
        height: 15px;
    } 
    
    p .gimage {
        width: 15px;
        height: 15px;
    } 
    
    
    .footer1 {
        display: block;
        background-color: rgb(0, 153, 255);
        width: 100%;
        color: white;
    }
    
    .footer2 {
        display: block;
        background-color: rgb(0, 153, 255);
        width: 100%;
        color: white;
    }
    
    .footer3 {
        display: block;
        background-color: rgb(0, 153, 255);
        width: 100%;
        color: white;
    }
    
    .footer1 p {
        height: 30px;
        font-family: "Outfit";
        display: inline-flex;
        margin-left: 20px;
    }
    
    .footer2 p {
        height: 30px;
        font-family: "Outfit";
        display: inline-flex;
        margin-left: 20px;
    }
    
    .footer3 p {
        height: 30px;
        font-family: "Outfit";
        display: inline-flex;
        margin-left: 20px;
    }
    
    .fimage {
        width: 15px;
        height: 15px;
    }
    
    .date {
        display: grid;
        align-self: center;
        padding: 3px;
        left: 0;
        right 0;
        top: 520px;
        width: 100%;
        height: 300px;
        background-color: rgb(0, 255, 13);
        display: block;
        align-items: center;
        color: black;
        border-radius: 10px;
        box-shadow: 1px 1px 11px;
        z-index:1;
    
    }
    
    .cal {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    
    .top, .down {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .top {
        height: 100%;
        background-color: rgb(8, 255, 33);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .down {
        height: 100%;
        font-size: 40px;
    
    }
    
    .click {
        display: flex;
        width: 30px;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 16px;
        margin-right: 15px;
        cursor: pointer;
        border-radius: 5px;
        z-index: 3;
        
    }
    
    .click:hover {
        background-color: rgba(190, 189, 189, 0.5)
    }

    .side-bar {
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 100%;
        margin-top: 63px;
        background-color: rgba(129, 127, 127, 0.5);
        color: white;
        padding: 5px;
        position: fixed;
        right: -120px;
        z-index: 2;
        transition: right 0.5s ease-in-out;
      }
}
